[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/ewiplayer/snipmate.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/lustyJuggler"]
	path = bundle/lustyJuggler
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/nerdTree"]
	path = bundle/nerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/clangComplete"]
	path = bundle/clangComplete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/singleCompile"]
	path = bundle/singleCompile
	url = https://github.com/vim-scripts/SingleCompile.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/protodef"]
	path = bundle/protodef
	url = https://github.com/ewiplayer/vim-protodef.git
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/ewiplayer/vim-fswitch.git
[submodule "bundle/autoComplPop"]
	path = bundle/autoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/snipMate2"]
	path = bundle/snipMate2
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/easyGrep"]
	path = bundle/easyGrep
	url = http://github.com/vim-scripts/EasyGrep.git
[submodule "bundle/easyMotion"]
	path = bundle/easyMotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
