[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/lustyJuggler"]
	path = bundle/lustyJuggler
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/nerdTree"]
	path = bundle/nerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
